jsonparser/.idea/
jsonparser/json-parser.iml
jsonparser/target/*
*.class
jsonparser/test-output/
oopwarmup1/.idea/
seleniumpractice/.idea/
selenidelearning/.idea/
selenidelearning/build/
seleniumpractice/screenshot/
